:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --app-padding: 1rem;
  --bg-color: #242424; 
}

*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  /* outline: solid 1px #ff359a84; */
}

.app-wraper{
  padding: var(--app-padding);
}

.header{
  text-align: center;
  min-height: calc(20vh - var(--app-padding));
  
}

.main-section{
  display: flex;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  min-height: calc(80vh - var(--app-padding));
}

.lists-wraper{
  display: flex;
  padding: 2rem;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;  
}

.list{
  display: flex;
  flex-direction: column;
  min-width: 275px;
  gap: .25rem;
}

.track{
  background-color: #3f3f3f;
  
  position: relative;
  border-radius: .25rem;
  /* display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-rows: 1fr; */
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.playlist{
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.info{
  padding: .5rem;
  padding-left: .75rem;
}

.info p{
  display: inline-block;
  width: f;
}

.info p + p{
  margin-left: 1rem;
}

.album{
  font-size: 80%;
  font-style: italic;
  letter-spacing: .15rem;
}

.add-track{
  padding: .5rem;
  display: grid;
  align-content: center;
  outline: none;
  border: none;
  background-color:transparent;
  cursor: pointer; 
  transition: background-color .3s, font-size .3s; 
}

.add-track:hover{
  background-color: #25252569;
  font-size: 100%;  
}




